$primary-text-color: #9da4bd;
$secondary-text-color-lighter: #555555;
$secondary-text-color: #303030;
$header-text: #ffffff;
$logo-color-lighter: #ffffff;
$logo-color-darker: #303030;
$accent-color: #ff6c00;
$primary-title: #ffffff;
$slider-text-color: rgba(157, 164, 189, 0.6);
$primary-button-color: #ffffff;
$background-price-color: #111319;
$cubic: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$box-background: #f7f7f7;
$form-background: #191c26;
$form-input-color: rgba(157, 164, 189, 0.4); ;
