<section class="about-section" id="about-section">
    <div class="container about-section__container">
        <div class="about-section__images">
            <ul class="about-section__items">
                <li class="about-section__item">
            <picture>
                <source
                    srcset="./images/about/about-1-tablet-1x.jpg 1x, ./images/about/about-1-tablet-2x.jpg 2x, ./images/about/about-1-tablet-3x.jpg 3x"
                    media="(max-width:1279px)" sizes="(min-width:330px)">
                <source
                    srcset="./images/about/about-1-desktop-1x.jpg 1x, ./images/about/about-1-desktop-2x.jpg 2x, ./images/about/about-1-desktop-3x.jpg 3x"
                    media="(min-width:1280px)" sizes="(min-width:270px)">
            <img src="./images/about/about-1-tablet-1x.jpg" alt="стрижем бороду" width="330">
            </picture>
            </li>
            <li class="about-section__item">
            <picture>
                <source
                    srcset="./images/about/about-2-tablet-1x.jpg 1x, ./images/about/about-2-tablet-2x.jpg 2x, ./images/about/about-2-tablet-3x.jpg 3x"
                    media="(max-width:1279px)" sizes="(min-width:330px)">
                <source
                    srcset="./images/about/about-2-desktop-1x.jpg 1x, ./images/about/about-2-desktop-2x.jpg 2x, ./images/about/about-2-desktop-3x.jpg 3x"
                    media="(min-width:1280px)" sizes="(min-width:270px)">
            <img src="./images/about/about-2-tablet-1x.jpg" alt="бреем" width="330">
            </picture>
            </li>
            </ul>
        </div>
        <div class="about-section__text">
            <span class="about-section__suptitle" id="about-us">О нас</span>
            <h2 class="about-section__title">Лучший Барбершоп
                твоего города</h2>
            <h3 class="about-section__sub-title">Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.
            </h3>
            <p class="about-section__description">Мы команда, которая никогда не останавливается на достигнутом
                и жаждет перемен. И когда ты попадешь в руки нашего мастера,
                то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной волне".
                Поэтому, мы всегда
                готовы усовершенствовать каждого, кто к нам приходит!</p>
            <div class="about-section__button-box">
                <a href="#footer" class="about-section__button">Онлайн запись</a>
            </div>
        </div>
    </div>
</section>
