<section class="about-section" id="about-section">
    <div class="container">
        <div class="about-section__images">
            <img src="./images/box-1.jpg" alt="стрижем бороду" width="270">
            <img src="./images/box-2.jpg" alt="бреем" width="270">
        </div>
        <div class="about-section__text">
            <span class="about-section__suptitle" id="about-us">О нас</span>
            <h2 class="about-section__title">Лучший Барбершоп
                твоего города</h2>
            <h3 class="about-section__sub-title">Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.
            </h3>
            <p class="about-section__description">Мы команда, которая никогда не останавливается на достигнутом
                и жаждет перемен. И когда ты попадешь в руки нашего мастера,
                то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной волне".
                Поэтому, мы всегда
                готовы усовершенствовать каждого, кто к нам приходит!</p>
            <div class="about-section__button-box">
                <a href="#footer" class="about-section__button">Онлайн запись</a>
            </div>
        </div>
    </div>
</section>