<footer class="footer" id="footer">
    <section class="footer__section">
        <div class="container">
            <div class="footer__form">
                <h2 class="footer__form-title ">Онлайн-запись</h2>
                <form action="">
                    <div class="footer__input-box">
                        <label for="name"></label>
                        <input class="footer__input-value" type="text" name="name" placeholder="имя*">
                    </div>
                    <div class="footer__input-box">
                        <label for="tel"></label>
                        <input class="footer__input-value" type="tel" name="tel" placeholder="телефон*">
                    </div>
                    <div class="footer__input-box">
                        <label for="message"></label>
                        <textarea class="footer__input-value" name="message" id="message" cols="30" rows="5" placeholder="сообщение"></textarea>
                    </div>
                    <div class="footer__button-container">
                        <div class="footer__button-box">
                            <input type="submit" class="footer__form-button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="footer__section">
        <div class="container">
            <div id="contacts" class="footer__contacts">
                <h2 class="footer__contacts-title">Контакты</h2>
                <div>
                    <ul class="footer__contacts-box">
                        <li class="footer__contacts-list">
                            <a href="https://goo.gl/maps/wBg51qddU44BJvkr7" target="_blank" class="footer__contact-link">
                                <svg class="footer__contact-icon">
                                    <use href="./images/icons.svg#map-pin"></use>
                                </svg> ул. Васильковая, 7А, Киев, 08132</a>
                        </li>
                        <li class="footer__contacts-list">
                            <a href="tel:+380441111111" class="footer__contact-link">
                                <svg class="footer__contact-icon">
                                    <use href="./images/icons.svg#phone"></use>
                                </svg>
                                +38 044 111 11 11</a>
                        </li>
                        <li class="footer__contacts-list">
                            <a href="mailto:barbershop@email.com" class="footer__contact-link">
                                <svg class="footer__contact-icon">
                                    <use href="./images/icons.svg#mail"></use>
                                </svg>
                                barbershop@email.com</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__schedule-box">
                    <span class="footer__suptitle">время работы</span>
                    <p class="footer__schedule">Ежедневно с 9:00 до 22:00</p>
                </div>
            </div>
        </div>
    </div>
    </section>
</footer>
<section class="copyright">
    <div class="container">
        <div class="copyright__social-box">
            <a href="https://www.instagram.com/" target="_blank" class="copyright__social-link">Instagram</a>
            <a href="https://www.youtube.com/"  target="_blank"class="copyright__social-link">Youtube</a>
        </div>
        <p class="copyright__copy-text"><span class="copyright__copy">&copy;</span>Copyright <span class="copyright__copy-year">2021</span></p>
    </div>
</section>