<footer class="footer" id="footer">
    <section class="footer__section">
        <div class="container">
            <div class="footer__form">
                <h2 class="footer__form-title ">Онлайн-запись</h2>
                <form action="">
                    <div class="footer__input-box">
                        <label for="name"></label>
                        <input class="footer__input-value" type="text" name="name" placeholder="имя*">
                    </div>
                    <div class="footer__input-box">
                        <label for="tel"></label>
                        <input class="footer__input-value" type="tel" name="tel" placeholder="телефон*">
                    </div>
                    <div class="footer__input-box">
                        <label for="message"></label>
                        <textarea class="footer__input-value" name="message" id="message" cols="30" rows="5" placeholder="сообщение"></textarea>
                    </div>
                    <div class="footer__button-box">
                        <input type="submit" class="footer__form-button">
                    </div>
                </form>
            </div>
            </section>
            <section class="footer__section">
            <div id="contacts" class="footer__contacts">
                <h2 class="footer__contacts-title">Контакты</h2>
                <div class="footer__contacts-box">
                    <ul>
                        <li>
                            <adress class="footer__adress">ул. Васильковая, 7А</br>Киев, 08132</adress>
                        </li>
                        <li>
                            <a href="tel:+380441111111" class="footer__contact-link">+38 044 111 11 11</a>
                        </li>
                        <li>
                            <a href="mailto:barbershop@email.com" class="footer__contact-link">barbershop@email.com</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__schedule-box">
                    <span class="footer__suptitle">время работы</span>
                    <p>Ежедневно с 9:00 до 22:00</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<div class="copyright">
        <p class="copyright__copy-text">&copy;Copyright <span>2020</span></p>
        <div class="copyright__social-box">
            <a href="" class="copyright__social-link">Instagram</a>
            <a href="" class="copyright__social-link">Youtube</a>
        </div>
</div>