<header class="header">
    <div class="header__container">
        <div class="header__left-box">
            <aside class="side-bar">
                <svg class="nav-box__logo-darker">
                    <use href="./images/icons.svg#logo"></use>
                </svg>
                <ul class="side-bar__list">
                    <li class="side-bar__item"><a href="https://www.instagram.com/" target="_blank" class="side-bar__social-link">Instagram</a></li>
                    <li class="side-bar__item"><a href="https://www.youtube.com/" target="_blank" class="side-bar__social-link">YouTube</a></li>
                    </ul>
                   
            </aside>
        </div>
        <div class="header__mobile-box">
            <nav class="nav-box">
                <div class="nav-box__holder">
                    <svg class="nav-box__logo-lighter">
                        <use href="./images/icons.svg#logo"></use>
                    </svg>
                    <ul class="nav-box__links">
                        <li class="nav-box__item"><a data-scroll href="#about-us" class="nav-box__link">О нас</a></li>
                        <li class="nav-box__item"><a data-scroll href="#price-section" class="nav-box__link">Услуги и цены</a></li>
                        <li class="nav-box__item"><a data-scroll href="#masters-section" class="nav-box__link">Мастера</a></li>
                        <li class="nav-box__item"><a data-scroll href="#contacts" class="nav-box__link">Контакты</a></li>
                    </ul>
                </div>
                <div class="nav-box__contacts">
                    <a href="tel:+380441111111" class="nav-box__phone">+38 044 111 11 11</a>
                    <div class="nav-box__button-box">
                        <a data-scroll href="#footer" class="nav-box__button">Онлайн запись</a>
                    </div>
                </div>
                <button class="nav-button js-open-menu" aria-expanded="false" aria-controls="mobile-menu" type="button">
                    <svg class="nav-button__menu-icon" width='24px' height="16px" aria-label="мобильное меню">
                        <use href="./images/icons.svg#menu"></use>
                    </svg>
                </button>
                <div class="menu-container js-menu-container" id="mobile-menu">
                    <div>
                        <button type="button" class="menu-toggle js-close-menu">
                            <svg class="menu-toggle__menu-icon" width='19px' height="19px">
                                <use href="./images/icons.svg#cross"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="nav-mobile">
                        <div class="navigation-box">
                            <ul class="navigation-box__items">
                                <li class="navigation-box__item "><a data-scroll class="navigation-box__link" href="#about-section">О
                                        нас</a></li>
                                <li class="navigation-box__item"><a data-scroll class="navigation-box__link" href="#price-section">Услуги и
                                        цены</a>
                                </li>
                                <li class="navigation-box__item"><a data-scroll class="navigation-box__link" href="#masters-section">Мастера</a>
                                </li>
                                <li class="navigation-box__item"><a data-scroll class="navigation-box__link" href="#footer">Контакты</a>
                                </li>
                            </ul>
                            <ul class="navigation-box__contacts">
                                <li class="navigation-box__link-box"><a href="tel:+380961111111" class="navigation-box__tel">+38
                                        096 111
                                        11 11</a></li>
                                <li class="navigation-box__button-box"><a data-scroll href="#footer" class="navigation-box__button">Онлайн
                                        запись</a></li>
                            </ul>
                        </div>
                        <div class="social-box">
                            <ul class="social-box__links">
                                <li class="social-box__item"><a href="https://www.instagram.com/" class="social-box__instagram-link">Instagram</a></li>
                                <li class="social-box__item"><a href="https://www.youtube.com/" class="social-box__youtube-link">Youtube</a></li>
            
                            </ul>
            
                        </div>
                    </div>
            
                </div>
            </nav>
            <section class="slider">
                <div class="slider__box">
                    <span lang="en" class="slider__suptitle">A hair salon for men in Kyiv</span>
                    <h1 lang="en" class="slider__hero-title">BarberShop</h1>
                    <p class="slider__hero-description">Мы эксперты в модных мужских стрижках.
                        Работаем быстро, осторожно и со вкусом.</p>
                </div>
            </section>
        </div>
        <div class="header__right-box">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide first-slide">
                                    <nav class="nav-box">
                                        <div class="nav-box__holder">
                                            <svg class="nav-box__logo-lighter">
                                                <use href="./images/icons.svg#logo"></use>
                                            </svg>
                                            <ul class="nav-box__links">
                                                <li class="nav-box__item"><a data-scroll href="#about-us" class="nav-box__link">О нас</a></li>
                                                <li class="nav-box__item"><a data-scroll href="#price-section" class="nav-box__link">Услуги и цены</a></li>
                                                <li class="nav-box__item"><a data-scroll href="#masters-section" class="nav-box__link">Мастера</a></li>
                                                <li class="nav-box__item"><a data-scroll href="#contacts" class="nav-box__link">Контакты</a></li>
                                            </ul>
                                        </div>
                                        <div class="nav-box__contacts">
                                            <a href="tel:+380441111111" class="nav-box__phone">+38 044 111 11 11</a>
                                            <div class="nav-box__button-box">
                                                <a data-scroll href="#footer" class="nav-box__button">Онлайн запись</a>
                                            </div>
                                        </div>
                                    </nav>
                                    <section class="slider">
                                        <div class="slider__box">
                                            <span lang="en" class="slider__suptitle">A hair salon for men in Kyiv</span>
                                            <h1 lang="en" class="slider__hero-title">BarberShop</h1>
                                            <p class="slider__hero-description">Мы эксперты в модных мужских стрижках.
                                                Работаем быстро, осторожно и со вкусом.</p>
                                        </div>
                                    </section>
                    </div>
                    <div class="swiper-slide second-slide"><nav class="nav-box">
                        <div class="nav-box__holder">
                            <svg class="nav-box__logo-lighter">
                                <use href="./images/icons.svg#logo"></use>
                            </svg>
                            <ul class="nav-box__links">
                                <li class="nav-box__item"><a data-scroll href="#about-us" class="nav-box__link">О нас</a></li>
                                <li class="nav-box__item"><a data-scroll href="#price-section" class="nav-box__link">Услуги и цены</a></li>
                                <li class="nav-box__item"><a data-scroll href="#masters-section" class="nav-box__link">Мастера</a></li>
                                <li class="nav-box__item"><a data-scroll href="#contacts" class="nav-box__link">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="nav-box__contacts">
                            <a href="tel:+380441111111" class="nav-box__phone">+38 044 111 11 11</a>
                            <div class="nav-box__button-box">
                                <a  data-scroll href="#footer" class="nav-box__button">Онлайн запись</a>
                            </div>
                        </div>
                    </nav>
                    <section class="slider">
                        <div class="slider__box">
                            <span lang="en" class="slider__suptitle">A hair salon for men in Kyiv</span>
                            <h1 lang="en" class="slider__hero-title">BarberShop</h1>
                            <p class="slider__hero-description">Мы эксперты в модных мужских стрижках.
                                Работаем быстро, осторожно и со вкусом.</p>
                        </div>
                    </section></div>
                    <div class="swiper-slide third-slide"><nav class="nav-box">
                        <div class="nav-box__holder">
                            <svg class="nav-box__logo-lighter">
                                <use href="./images/icons.svg#logo"></use>
                            </svg>
                            <ul class="nav-box__links">
                                <li class="nav-box__item"><a data-scroll href="#about-us" class="nav-box__link">О нас</a></li>
                                <li class="nav-box__item"><a data-scroll href="#price-section" class="nav-box__link">Услуги и цены</a></li>
                                <li class="nav-box__item"><a data-scroll href="#masters-section" class="nav-box__link">Мастера</a></li>
                                <li class="nav-box__item"><a data-scroll href="#contacts" class="nav-box__link">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="nav-box__contacts">
                            <a href="tel:+380441111111" class="nav-box__phone">+38 044 111 11 11</a>
                            <div class="nav-box__button-box">
                                <a data-scroll href="#footer" class="nav-box__button">Онлайн запись</a>
                            </div>
                        </div>
                    </nav>
                    <section class="slider">
                        <div class="slider__box">
                            <span lang="en" class="slider__suptitle">A hair salon for men in Kyiv</span>
                            <h1 lang="en" class="slider__hero-title">BarberShop</h1>
                            <p class="slider__hero-description">Мы эксперты в модных мужских стрижках.
                                Работаем быстро, осторожно и со вкусом.</p>
                        </div>
                    </section>
                </div>
                    ...

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev">Назад</div>
                <div class="swiper-button-next">Вперед</div>
            </div>
        </div>
    </div>
</header>