<section class="master-section " id="masters-section">
    <div class="container">
        <span class="master-section__suptitle">для настоящих ценителей атмосферы</span>
        <h2 class="master-section__title">Наши мастера</h2>
        <ul class="master-section__list">
            <li class="master-section__card">
                <img class="master-section__image" src="./images/John Smith.jpg" alt="John Smith" width="418">
                <p class="master-section__card-name" >John Smith</p>
                <span class="master-section__card-description" >Extreme Barber</span>
                <div class="master-section__social-box">
                    <a target="_blank" href="https://www.instagram.com" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://twitter.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="master-section__card">
                <img class="master-section__image" src="./images/Michele Doe.jpg" alt="Michele Doe" width="418">
                <p class="master-section__card-name" >Michele Doe</p>
                <span class="master-section__card-description" >Extreme Barber</span>
                <div class="master-section__social-box">
                    <a target="_blank" href="https://www.instagram.com" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://twitter.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="master-section__card">
                <img class="master-section__image" src="./images/Alan Black.jpg" alt="Alan Black" width="418">
                <p class="master-section__card-name" >Alan Black</p>
                <span class="master-section__card-description" >Extreme Barber</span>
                <div class="master-section__social-box">
                    <a target="_blank" href="https://www.instagram.com" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://twitter.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>