<section class="master-section " id="masters-section">
    <div class="container">
        <span class="master-section__suptitle">для настоящих ценителей атмосферы</span>
        <h2 class="master-section__title">Наши мастера</h2>
        <ul class="master-section__list">
            <li class="master-section__card">
                <picture>
                    <source
                        srcset="./images/masters/master-1-418px-1x.jpg 1x, ./images/masters/master-1-418px-2x.jpg 2x, ./images/masters/master-1-418px-3x.jpg 3x"
                        media="(max-width:767px)" sizes="(min-width:418px)">
                    <source
                        srcset="./images/masters/master-1-tablet-1x.jpg 1x, ./images/masters/master-1-tablet-2x.jpg 2x, ./images/masters/master-1-tablet-3x.jpg 3x"
                        media="(max-width:1279px)" sizes="(min-width:450px)">
                    <source
                        srcset="./images/masters/master-1-desktop-1x.jpg 1x, ./images/masters/master-1-desktop-2x.jpg 2x, ./images/masters/master-1-desktop-3x.jpg 3x" media="
                        (min-width:1280px)" sizes="(min-width:370px)">
                <img class="master-section__image" src="./images/masters/master-1-418px-1x.jpg" alt="John Smith">
                </picture>
                <p class="master-section__card-name" >John Smith</p>
                <span class="master-section__card-description" >Extreme Barber</span>
                <div class="master-section__social-box">
                    <a target="_blank" href="https://www.instagram.com" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://twitter.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="master-section__card">
                <picture>
                    <source
                        srcset="./images/masters/master-2-418px-1x.jpg 1x, ./images/masters/master-2-418px-2x.jpg 2x, ./images/masters/master-2-418px-3x.jpg 3x"
                        media="(max-width:767px)" sizes="(min-width:418px)">
                    <source
                        srcset="./images/masters/master-2-tablet-1x.jpg 1x, ./images/masters/master-2-tablet-2x.jpg 2x, ./images/masters/master-2-tablet-3x.jpg 3x"
                        media="(max-width:1279px)" sizes="(min-width:450px)">
                    <source
                        srcset="./images/masters/master-2-desktop-1x.jpg 1x, ./images/masters/master-2-desktop-2x.jpg 2x, ./images/masters/master-2-desktop-3x.jpg 3x"
                        media="(min-width:1280px)" sizes="(min-width:370px)">
                <img class="master-section__image" src="./images/masters/master-2-418px-1x.jpg" alt="Michele Doe">
                </picture2
                <p class="master-section__card-name" >Michele Doe</p>
                <span class="master-section__card-description" >Extreme Barber</span>
                <div class="master-section__social-box">
                    <a target="_blank" href="https://www.instagram.com" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://twitter.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="master-section__card">
                <picture>
                    <source
                        srcset="./images/masters/master-3-418px-1x.jpg 1x, ./images/masters/master-3-418px-2x.jpg 2x, ./images/masters/master-3-418px-3x.jpg 3x"
                        media="(max-width:767px)" sizes="(min-width:418px)">
                    <source
                        srcset="./images/masters/master-3-tablet-1x.jpg 1x, ./images/masters/master-3-tablet-2x.jpg 2x, ./images/masters/master-3-tablet-3x.jpg 3x"
                        media="(max-width:1279px)" sizes="(min-width:450px)">
                    <source
                        srcset="./images/masters/master-3-desktop-1x.jpg 1x, ./images/masters/master-3-desktop-2x.jpg 2x, ./images/masters/master-3-desktop-3x.jpg 3x"
                        media="(min-width:1280px)" sizes="(min-width:370px)">
                <img class="master-section__image" src="./images/masters/master-3-418px-1x.jpg" alt="Alan Black">
                </picture3
                <p class="master-section__card-name" >Alan Black</p>
                <span class="master-section__card-description" >Extreme Barber</span>
                <div class="master-section__social-box">
                    <a target="_blank" href="https://www.instagram.com" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://twitter.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/" class="master-section__social-link">
                        <svg class="master-section__icon" >
                            <use href="./images/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>