<section class="number-section" id="who-section">
    <div class="container">
        <div class="number-section__description">
            <span class="number-section__suptitle">старая традиционная школа</span>
            <h2 class="number-section__title">Почему приходят именно к нам?</h2>
            <h3 class="number-section__sub-title">О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
                10 раз прочитать.</h3>
        
        </div>
        <div class="number-section__containers">
            <div class="number-section__box">
                <p class="number-section__number">600</p>
                <span class="number-section__number-description">Довольных клиентов в день</span>
            </div>
            <div class="number-section__box">
                <p class="number-section__number">50</p>
                <span class="number-section__number-description">Наград за отличный сервис</span>
            </div>
            <div class="number-section__box">
                <p class="number-section__number">20</p>
                <span class="number-section__number-description">Лучших мастеров Киева</span>
            </div>
            <div class="number-section__box">
                <p class="number-section__number">100</p>
                <span class="number-section__number-description">Подарков постоянным клиентам</span>
            </div>
        </div>
    </div>
</section>