<section class="number-section" id="who-section">
    <div class="number-section__container">
        <div class="number-section__box">
            <p>600</p>
            <span>Довольных клиентов в день</span>
        </div>
        <div class="number-section__box">
            <p>50</p>
            <span>Наград за отличный сервис</span>
        </div>
        <div class="number-section__box">
            <p>20</p>
            <span>Лучших мастеров Киева</span>
        </div>
        <div class="number-section__box">
            <p>100</p>
            <span>Подарков постоянным клиентам</span>
        </div>

    </div>
    <div class="number-section__description">
        <span class="number-section__suptitle">старая традиционная школа</span>
        <h2 class="number-section__title">Почему приходят именно к нам?</h2>
        <h3 class="number-section__sub-title">О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
            10 раз прочитать.</h3>

    </div>
</section>