<section class="price-section" id="price-section">
    <span class="price-section__suptitle">Проведи время в компании лучших мастеров</span>
    <h2>Услуги и цены</h2>
    <div class="price-section__box">
        <ul class="price-section__list">
            <li class="price-section__item">
                <p>Мужская стрижка</p><span>от 300 грн.</span>
            </li>
            <li class="price-section__item">
                <p>Стрижка бороды</p><span>от 200 грн.</span>
            </li>
            <li class="price-section__item">
                <p>Стрижка усов</p><span>от 200 грн.</span>
            </li>
            <li class="price-section__item">
                <p>Бритье опасной бритвой</p><span>от 200 грн.</span>
            </li>
        </ul>
        <ul class="price-section__list">
            <li class="price-section__item">
                <p>Cтрижка у стажера</p><span>от 50 грн.</span>
            </li>
            <li class="price-section__item">
                <p>Стрижка под насадку</p><span>от 200 грн.</span>
            </li>
            <li class="price-section__item">
                <p>Детская стрижка (до 12 лет)</p><span>от 300 грн.</span>
            </li>
            <li class="price-section__item">
                <p>Камуфлирование седины</p><span>от 200 грн.</span>
            </li>
        </ul>
    </div>
    <a href="#footer" class="price-section__button">Онлайн запись</a>

</section>