<section class="price-section" id="price-section">
    <div class="container">
    <span class="price-section__suptitle">Проведи время в компании лучших мастеров</span>
    <h2 class="price-section__title">Услуги и цены</h2>
    <div class="price-section__box">
        <ul class="price-section__list">
            <li class="price-section__item">
                <p  class="price-section__item-description">Мужская стрижка</p><span class="price-section__item-price">от 300 грн.</span>
            </li>
            <li class="price-section__item">
                <p class="price-section__item-description">Стрижка бороды</p><span class="price-section__item-price">от 200 грн.</span>
            </li>
            <li class="price-section__item">
                <p class="price-section__item-description">Стрижка усов</p><span class="price-section__item-price">от 200 грн.</span>
            </li>
            <li class="price-section__item">
                <p class="price-section__item-description">Бритье опасной бритвой</p><span class="price-section__item-price">от 200 грн.</span>
            </li>
        </ul>
        <ul class="price-section__list">
            <li class="price-section__item">
                <p class="price-section__item-description">Cтрижка у стажера</p><span class="price-section__item-price">от 50 грн.</span>
            </li>
            <li class="price-section__item">
                <p class="price-section__item-description">Стрижка под насадку</p><span class="price-section__item-price">от 200 грн.</span>
            </li>
            <li class="price-section__item">
                <p class="price-section__item-description">Детская стрижка (до 12 лет)</p><span class="price-section__item-price">от 300 грн.</span>
            </li>
            <li class="price-section__item">
                <p class="price-section__item-description">Камуфлирование седины</p><span class="price-section__item-price">от 200 грн.</span>
            </li>
        </ul>
    </div>
    <div class="price-section__button-container">
        <div class="price-section__button-box">
            <a data-scroll href="#footer" class="price-section__button">Онлайн запись</a>
        </div>
        </div>
    </div>
</section>