.about-section {
  padding-top: 84px;
  padding-bottom: 84px;
  &__images {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__suptitle {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $secondary-text-color;
  }
  &__suptitle::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: $secondary-text-color;
  }
  &__title {
    padding-bottom: 20px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;

    color: $secondary-text-color;
  }
  &__sub-title {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;

    color: $secondary-text-color-lighter;
  }
  &__description {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;

    color: $secondary-text-color-lighter;
  }
  &__button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;

    border: 1px solid $accent-color;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 250ms $cubic;
  }
  &__button-box:hover,
  &__button-box:focus {
    background-color: $accent-color;
  }
  &__button-box:hover .about-section__button,
  &__button-box:focus .about-section__button {
    color: #fff;
  }
  &__button {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: $secondary-text-color;
    transition: color 250ms $cubic;
  }
}
