.header {
  padding-top: 40px;
  padding-bottom: 183px;

  background-image: url(../images/first-slider-480.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    width: 69px;
    height: 56px;

    fill: #ffffff;
    transition: fill 250ms $cubic;
  }
  &__logo:hover,
  &__logo:focus {
    fill: $accent-color;
  }
  &__links {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__contacts {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
.side-bar {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.slider {
  &__box {
    padding-top: 113px;
  }
  &__suptitle {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $slider-text-color;
  }
  &__suptitle::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: $slider-text-color;
  }
  &__hero-title {
    margin: 0;
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.67;
    letter-spacing: 0.05em;

    color: $primary-title;
  }
  &__hero-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;
  }
}
.nav-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__menu-icon {
    cursor: pointer;
    fill: $primary-button-color;
    transition: fill 250ms $cubic;
  }
  &__menu-icon:hover,
  &__menu-icon:focus {
    fill: $accent-color;
  }
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//   .hero-section {
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/hero-img-mobile-960.jpg);
//     @media screen and (min-width: 768px) {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../images/hero-img-tablet-1536.jpg);
//     }
//     @media screen and (min-width: 1200px) {
//       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../images/hero-img-desktop-3200.jpg);
//     }
