.header {
  @media screen and (max-width: 767px) {
    height: 580px;
    background-image: url(../images/first-slider-480.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    height: 680px;
  }
  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__left-box {
    height: 680px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__right-box {
    @media screen and (min-width: 768px) {
      height: 680px;
      min-width: 609px;
      background-image: url(../images/first-slider-721.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.nav-box {
  padding-top: 40px;
  margin-right: 39px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-lighter {
    width: 69px;
    height: 56px;

    fill: $logo-color-lighter;
    transition: fill 250ms $cubic;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__logo-darker {
    margin-left: 50px;
    margin-right: 40px;
    padding-top: 40px;
    width: 69px;
    height: 56px;

    fill: $logo-color-darker;
    transition: fill 250ms $cubic;
  }
  &__logo-lighter:hover,
  &__logo-darker:hover {
    fill: $accent-color;
  }
  &__links {
    display: flex;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }
  &__link {
    padding: 5px 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: $header-text;
    transition: color 250ms $cubic;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__contacts {
    display: inline-flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.side-bar {
  position: relative;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    display: none;
  }
  &__list {
    position: absolute;
    bottom: 155px;
    display: flex;
    transform: rotate(-90deg);
  }
  &__item:first-child::before {
    content: '';
    display: inline-block;
    margin-top: 5px;
    margin-right: 40px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: $secondary-text-color;
  }
  &__item {
    margin-left: 40px;
  }
  &__social-link:hover,
  &__social-link:focus {
    color: $accent-color;
  }
  &__social-link {
    padding: 5px 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: $secondary-text-color;
    transition: color 250ms $cubic;
  }
}

.slider {
  &__box {
    margin-top: 113px;
  }
  &__suptitle {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $slider-text-color;
  }
  &__suptitle::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: $slider-text-color;
  }
  &__hero-title {
    margin: 0;
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.67;
    letter-spacing: 0.05em;

    color: $primary-title;
  }
  &__hero-description {
    max-width: 306px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.02em;
  }
}

.nav-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__menu-icon {
    cursor: pointer;
    fill: $primary-button-color;
    transition: fill 250ms $cubic;
  }
  &__menu-icon:hover,
  &__menu-icon:focus {
    fill: $accent-color;
  }
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
