.nav-mobile {
}
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 337px;
  height: 100vh;

  background: #ffffff;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08),
    -1px 0px 3px rgba(0, 0, 0, 0.16);
  z-index: 10;

  transform: translateX(100%);
  transition: 500ms $cubic;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0%);
  }
}
.nav-mobile {
  width: 100vw;
  height: 100vh;
  padding-top: 119px;
  padding-left: 40px;
}

.menu-toggle {
  position: absolute;
  height: 19px;
  top: 49px;
  right: 31px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &__menu-icon {
    cursor: pointer;
    fill: #000;
    transition: fill 250ms $cubic;
  }
  &__menu-icon:hover,
  &__menu-icon:focus {
    fill: $accent-color;
  }
}
.navigation-box {
  &__item:not(:last-child) {
    padding-bottom: 24px;
  }
  &__items {
    margin-bottom: 64px;
  }
  &__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.1em;

    color: $secondary-text-color;
    transition: color 250ms $cubic;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__contacts {
    margin-bottom: 64px;
  }
  &__link-box {
    margin-bottom: 24px;
  }
  &__tel {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $secondary-text-color;
    transition: color 250ms $cubic;
  }
  &__tel:hover,
  &__tel:focus {
    color: $accent-color;
  }
  &__button-box {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 160px;

    border: 1px solid $accent-color;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 250ms $cubic;
  }
  &__button-box:hover {
    background: $accent-color;
  }
  &__button-box:focus-within {
    background: $accent-color;
  }
  &__button:hover,
  &__button:focus {
    color: #fff;
  }
  &__button {
    padding: 12px 0;
    width: inherit;
    height: inherit;
    text-decoration: none;
    border-radius: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: $secondary-text-color;
    transition: color 250ms $cubic;
  }
}
.social-box {
  &__item:first-child {
    margin-bottom: 24px;
  }
  &__instagram-link,
  &__youtube-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: $secondary-text-color;
    transition: color 250ms $cubic;
  }
  &__instagram-link::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: $secondary-text-color;
  }
  &__youtube-link::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: transparent;
  }
  &__instagram-link:focus,
  &__youtube-link:focus,
  &__instagram-link:hover,
  &__youtube-link:hover {
    color: $accent-color;
  }
}
