.number-section {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 103px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  &__main-container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: 1280px) {
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }
  &__description {
    @media screen and (min-width: 768px) {
      max-width: 500px;
    }
  }
  &__suptitle {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $secondary-text-color;
  }
  &__suptitle::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: $secondary-text-color;
  }
  &__title {
    margin-bottom: 20px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: $secondary-text-color;
  }
  &__sub-title {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: $secondary-text-color-lighter;
  }
  &__containers {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: 450px;
      text-align: end;
      margin-left: auto;
    }
    @media screen and (min-width: 1280px) {
      max-width: 450px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 133px;

    background-color: $box-background;
    @media screen and (min-width: 768px) {
      width: 210px;
    }
    @media screen and (min-width: 1280px) {
      width: 170px;
    }
  }

  &__box:nth-child(2n) {
    margin-top: 30px;
  }
  &__box:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  &__number {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;

    color: $secondary-text-color;
  }
  &__number::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    vertical-align: 25px;

    color: #ff6c00;
  }
  &__number-description {
    max-width: 150px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color: $secondary-text-color;
  }
}
