.price-section {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-image: url(../images/price-background-1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__suptitle::before {
    content: '';
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    vertical-align: middle;
    background: rgba(157, 164, 189, 0.6);
  }
  &__suptitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.6);
  }
  &__item {
    display: inline-flex;
  }
}
