.price-section {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-image: url(../images/price-background-1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
